
/* @import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-size: 0.8rem;
  font-family: 'Comfortaa', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #dde7f1;
} */
